# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
obj/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a Python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
# If you're using Poetry or Pipenv, these folders might not be necessary.
# Include these if you're managing virtual environments manually.
venv/
ENV/

# Jupyter Notebook files
.ipynb_checkpoints

# pyenv
.python-version

# Django stuff:
*.log
# staticfiles/
# media/

# Flask/Django local environment settings
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest cache
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.mypy_cache/

# Environments configuration
.env
.env.*
venv

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# npm
node_modules/

# other
wetransfer_hackyeah-2024-breakwordtraps_2024-09-28_0449
notebooks/testing.ipynb
data/videos
