.player-wrapper{
    @apply relative
}

.player-content {
    position: absolute;
    overflow: hidden;
    width: 58%;
    height: 50%;
    top: 6%;
    left: 22%;
    @apply rounded-lg bg-black
}


.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50%;
    height: 68%;
    animation: spin 2s linear infinite;
    margin: 10% auto;
    
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #2980b9;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.upload-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #27ae60;
}

.upload-button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.file-name {
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
    color: #777;
}


/* Styles for the progress bar */
.progress-bar-container {
    position: relative;
    width: 100%;
}

.progress-bar {
    display: flex;
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-segment {
    height: 100%;
    cursor: pointer;
}

/* Styles for the hovered content */
.hovered-content {
    position: absolute;
    top: -25px;
    /* Adjust to place the tooltip above the bar */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}